$text-grey: #333333;
$font-primary: "Ubuntu";
$font-base: 300 16px Ubuntu;
$color-ubuntu-orange: #DD4814;
$border-color: #FFF;

QWidget {
    color: $text-grey;
    font: $font-base;
    margin:0;
    padding:0;
    border:0
}

QLineEdit {
    border-radius:2px;
    background:#fff;
    border:1px solid #999;
    padding:4px;
}

/* Buttons Style */

#actions_buttons {
    background: #f1f1f1;
    border-style: solid none none;
    border-width: 1px 0 0;
    padding: 40px 10px 20px;
    margin: 0
}

QPushButton {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    background-color: $color-ubuntu-orange;
    padding: 8px 14px;
    border-color: $border-color;
    border-style: none;
    border-width: 0;
    border-radius: 3px
}

QPushButton:pressed {
    background-color: #E77E5A
}

/* End Buttons Style */

/* SettingsUI Style */

QTabWidget::pane {

}

QTabWidget::tab-bar {

}

QTabBar::tab {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    background-color: $color-ubuntu-orange
}

QTabBar::tab:selected, QTabBar::tab:hover {

}

QTabBar::tab:selected {

}

QTabBar::tab:!selected {

}

/* End SettingsUI Style */

/* ChooseUser Style */
#ChooseUser {
    background-color: #FFFFFF;
    border-color: #AEA79F;
    border-style: none;
    border-width: 0;
    /* TODO: Implement rounded edges */
    border-radius: 4px;
    color: #300;
    font: $font-base;
    padding-bottom: 0;
    margin: 0
}

#header {
    border-bottom-width: 1px;
    border-bottom-color: #DFDCD9;
    border-bottom-style: solid
}

#label_choose_user_intro {
    font-size: 45px
}

#groupbox_choose_user {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 20px 20px 0 0;
    border-color: #333 #AEA79F #333 #333;
    border-style: none dotted none none;
    border-width: 0 1px 0 0
}

QPushButton:flat {
    background-color: #fff;
    border-style: none;
    border-width: 0;
    border-radius: 3px;
}

/* End ChooseUser Style */

/* Message Box Save Settings */

#message_box_save {
    background-color: #FFF;
    border-color: #AEA79F;
    border-style: none;
    border-width: 0;
    border-radius: 4px;
    color: #300;
    font: $font-base;
    padding-bottom: 0;
    margin: 0
}

/* End Message Box Save Settings */